.header__lang-link {
    display: inline-block;
    padding: 0;
    margin: 46px 18px 0px 0px;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    transition: opacity 0.2s ease-in-out;
}

.header__lang-link:last-child {
    margin-right: 0;
}

.header__lang-link:hover {
    opacity: 0.5;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        margin-top: 30px;
    }

    .header__lang-link:last-child {
        margin-right: 0;
    }
}