.cover__subtitle {
    padding: 0;
    margin: 32px 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    position: relative;
    max-width: 360px;
    z-index: 10;
}

@media screen and (max-width: 380px) {
    .cover__subtitle {
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
    }
}
