.header__logo {
    padding: 0;
    margin: 28px 0 0 0;
    width: 176px;
    height: 52px;
}

@media screen and (max-width: 500px) {
    .header__logo {
        max-width: 160px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 142px;
        height: 42px;
        margin: 16px 0 0 0;
    }
}