.lead__subtitle {
    padding: 0;
    margin: 32px auto 0;
    max-width: 640px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        font-size: calc(16px + 14 * (100vw / 768));

    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: calc(16px + (14 + 14 *0.7) * ((100vw - 320px) / 768));
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
    }
}