.cover {
    position: relative;
    padding: 0;
    margin: 92px 48px 0;
    max-width: 1184px;
    min-height: calc((100vw/1.6) - 60px);
    text-align: center;
    align-items: center;
    z-index: 0;
}

@media screen and (min-width: 1280px) {
    .cover {
        min-height: 740px;
        margin-left: auto;
        margin-right: auto;


    }
}

@media screen and (max-width: 1024px) {
    .cover {
        min-height: calc(100vw/1.6);
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 90px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin-top: 66px;
    }
}