.cover__title {
    padding: 0;
    margin: 0;
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    position: relative;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .cover__title {
        max-width: calc(288px + 272 * (100vw / 768));
        font-size: calc(32px + 40 * (100vw / 768));
        line-height: calc(35px + 41 * (100vw / 768));
    }
}

@media screen and (max-width: 380px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}