.place {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .place {
        margin-left: 148px;
        margin-right: 148px;
    }
}

@media screen and (max-width: 1024px) {
    .place {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 620px) {
    .place {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        margin-left: 0px;
        margin-right: 0px;
    }
}