.place__website {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    grid-area: website;
}

@media screen and (max-width: 320px) {
    .place__website {
        margin: 0px 16px;
    }
}
